borda-a{
    background-color: #0056CB;
    grid-area: borda-a;
}

header{
    background-color: aliceblue;
    grid-area: header;
}

.logo{
    align-content: center;
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav{
    background-color: aliceblue;
    grid-area: nav;
    font-weight: bold;
}

borda-b{
    background-color: #0056CB;
    grid-area: borda-b;
}

faixa{
    background-color: #0095E3;
    font-size: 30px;
    grid-area: faixa;
    text-align: center;
    align-content: center;
    color: aliceblue;
}

main{
    background-color: aliceblue;
    grid-area: main;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.titulo{
    font-family: 'Times New Roman';
    text-align: center;
    font-variant: small-caps;
    font-size: 30px;
}

th{
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    color: white;
    background-color:#0095E3;
}

td{
    font-family: 'Arial';
    padding: 5px;
}


.principal{
    font-size: 15px;
    font-family: Arial;
    text-align: justify;
}

.imagem{
    padding: 20px;
}

.is-invalid {
    border-color: #dc3545 !important;
    background-image: url("data:image/svg+xml,%3csvg...");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 16px 12px;
}

aside-e{
    background-color:white;
    grid-area: aside-e;
    padding: 15px 15px 15px 15px;
}
aside-d{
    background-color:white;
    grid-area: aside-d;
    padding: 15px 15px 15px 15px;
}

borda-c{
    background-color: #0056CB;
    grid-area: borda-c;
}

hr{
    border-top: 1px solid blue;
    border-width: 5px;
}

footer{
    background-color: aliceblue;
    grid-area: footer;
}

.container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 3vh auto 5vh 2vh 15vh auto 2vh 20vh;
    grid-template-areas:
    "borda-a borda-a borda-a"
    "header header header"
    "nav nav nav"
    "borda-b borda-b borda-b"
    "faixa faixa faixa"
    "aside-e main aside-d"
    "borda-c borda-c borda-c"
    "footer footer footer";
}

.container2 {
    display: flex; /* Alinha os itens em linha (lado a lado) */
    justify-content: center; /* Centraliza as imagens horizontalmente */
    align-items: center; /* Centraliza as imagens verticalmente */
    gap: 40px; /* Espaço entre as imagens */
    height: 40vh; /* Altura da tela inteira */
}